.btn-legal-1{
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color:#B68C5A ;
    border-radius: 8px;
    padding:19px 29px;
    border: none;
}
.banner-legal{
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size:auto;
    /* padding:200px 360px; */
}
.btn-legal-2{
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color:#B68C5A ;
    border-radius: 8px;
    padding:7px 25px;
    border: none;}

.legal-img-1{
    background-image: url("../images/slider-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}


.legal-img-2{
    background-image: url("../images/slider-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
.legal-img-3{
    background-image: url("../images/slider-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}